:root {
    --gray: #6B6B6B;
    --lightgray: #84818A;
}

.Registration-Flow {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 0.6rem;
    height: fit-content;
}

.Registration-Flow>section {
    width: 70%;

}

.Registration-Flow aside {
    width: 18rem;
    box-shadow: 0px 0px 4px 1px rgba(185, 185, 185, 0.384);
    background-color: white;
    border-radius: 10px;
    height: 88.5vh;

}

strong {
    color: red;
}