@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");



::-webkit-scrollbar {
    width: 7px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #89969b;
    border-radius: 20px;

}