.table {
    margin-top: 1.5rem;
    width: 100%;
}

.table table {
    width: 100%;
}

#table-body {
    /* overflow-y: scroll; */
    height: 100%;
    border: 2px solid red;
    /* height: fit-content; */
}

#table-header>tr {
    color: #6B6B6B;
}

#table-body>tr {
    margin-top: 1.5rem;
}

#table-header>tr,
#table-body>tr {
    display: flex;
    justify-content: space-between;
    position: relative;
}

#table-body>tr td:nth-child(2) {
    position: absolute;
    top: 0;
    left: 18%;
}

#table-body>tr td:nth-child(3) {
    position: absolute;
    top: 0;
    left: 38.1%;
}

#table-body>tr td:nth-child(4) {
    position: absolute;
    top: 0;
    left: 59%;
}

#table-body>tr td:nth-child(5) {
    position: absolute;
    top: 0;
    right: 21%;
}

#table-body>tr td:nth-child(6) {
    position: absolute;
    top: 0;
    right: 5%;
}


#table-header tr td i {
    font-size: 12px;
    margin-left: 5px;
    transform: translateY(-2px);
}

#table-header tr td,
#table-body tr td {
    width: fit-content;
}

#table-body tr td:last-child img {
    width: 35px;
    height: 35px;
}

 .register {
    border: 2px solid #44A6E9;
    color: #44A6E9;
}
 .pending {
    background-color: #f39d12c6;
    color: black;
}
.decline{
    background-color: rgb(235, 34, 34);
    color: white;
}

.register, .pending,.decline{
    font-size: 12px;
    border-radius: 8px;
    height: fit-content;
    padding: 5px;
    width: fit-content;
}

.table > .ipo_img {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */

}

.table > .ipo_img img {
    opacity: 0.2;
}